h1 {color: pink;
text-align: center;}

p {font-size: 24px;
	
}

#word-blank {
	font-size: 70px;
}

.rightBox{
	padding-left: 40px;
}

.tomato {
	color: tomato;
	text-transform: uppercase;
}

.jumbotron {
	background-color: #ffffff;
}

/* The animation code */
@keyframes slideRight {
    from {transform: translate3d(0, 0, 0);}
    to {visibility:hidden;
    	transform: translate3d(100%, 0, 0)}
}

/* The element to apply the animation to */
.slideOutRight {
   
    animation-name: slideRight;
    animation-duration: 20s;
}