h1 {color: pink;
text-align: center;}

p {font-size: 24px;
	
}

#word-blank {
	font-size: 70px;
}

.rightBox{
	padding-left: 40px;
}

.tomato {
	color: tomato;
	text-transform: uppercase;
}

.jumbotron {
	background-color: #ffffff;
}